<!-- start custom head snippets -->

<link href="https://fonts.googleapis.com/css2?family=Special+Elite&family=Cutive&display=swap" rel="stylesheet">

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="alternate" type="application/atom+xml" href="{{ "/feed.xml" | absolute_url }}">

{% seo %}

<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" sizes="32x32">
<link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">

<script data-goatcounter="https://darklingwhim.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

<!-- end custom head snippets -->
