@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Garamond";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Garamond.ttf)
    }
@font-face {
    font-family: "Times New Roman";
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    src: url(fonts/Times-New-Roman-Italic.ttf)
    }
@font-face {
    font-family: "Calibri";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Calibri.ttf)
    }
@font-face {
    font-family: "Times New Roman";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Times-New-Roman.ttf)
    }
@font-face {
    font-family: "Garamond";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Garamond-Bold.ttf)
    }
@font-face {
    font-family: "Calibri";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Calibri-Bold.ttf)
    }
@font-face {
    font-family: "Candara";
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Candara.ttf)
    }
@font-face {
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    src: url(fonts/Times-New-Roman-Bold-Italic.ttf)
    }
@font-face {
    font-family: "Times New Roman";
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    src: url(fonts/Times-New-Roman-Bold.ttf)
    }
